.nav{
 padding-top: 15px;
 padding-left: 50px;
}
body{
    background-color: #A244F2 ;
    
}
.nav-item{
    padding:10px;
    border:1px solid black;
}
     .page {
        text-align: center;
       
        background-color: #A244F2 ;
      }
img{
width:250px;
}
h3{

border-bottom:2px solid black; 
}
ach{
width:20px;
}
.content{
text-align: center;
margin:0 auto;
width:720px;
 background-color: #DDA0DD	;
}
p{
font-family: 'Rosario', sans-serif;
font-weight:normal;
}
h4{
font-weight: bold;
border-bottom:2px solid black; 
}
